@import "style.css";
/**
 * = Avatars
 */
body {
    padding-right: 0!important;
}
.avatar + .avatar-content {
    display: inline-block;
    margin-left: 0.75rem;
}

.avatar-sm {
    width: 1.5rem;
    height: 1.5rem;
}

.avatar-sm img {
    width: 1.5rem;
    height: 1.5rem;
}

.avatar {
    width: 2rem;
    height: 2rem;
}

.avatar img {
    width: 2rem;
    height: 2rem;
}

.avatar-md {
    width: 3rem;
    height: 3rem;
}

.avatar-md img {
    width: 3rem;
    height: 3rem;
}

.avatar-lg {
    width: 4.5rem;
    height: 4.5rem;
}

.avatar-lg img {
    width: 4.5rem;
    height: 4.5rem;
}

.avatar-xl {
    width: 8rem;
    height: 8rem;
}

.dot {
    width: 12px;
    height: 12px;
}
.rounded-circle {
    border-radius: 50%!important;
}

.btn-orange {
    color: #fff;
    background-color: #E55200;
    border-color: #bf4100;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(23 31 56 / 8%);
}

.btn-orange:hover {
    color: #fff;
    background-color: #ef6b25;
    border-color: #c76129;
}

.list-group.dashboard-menu .list-group-item.active {
    color: #e55200;
    background: 0 0;
    font-weight: 600;
}

.badge-secondary {
    background-color: #E55200;
}

.badge-tertiary {
    background-color: #6C757D;
}

.badge-success {
    background-color: #28A745;
}

.badge-danger {
    background-color: #DC3545;
}

.badge-warning {
    background-color: #FFC107;
    color: #212529;
    font-weight: 800;
}

.table-icon {
    vertical-align: middle;
    text-align: center;
}

.checked {
    color: orange;
}

.btn-del {
    border: none;
    background-color: inherit;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

#trans-button {
    border-width: 0!important;
    background-color: transparent!important;
}

.h5-mb-0 {
    margin-bottom: 0!important;
}

.font-weight-600 {
    font-weight: 600;
}


.sidebar li .submenu{
    list-style: none;
    margin: 0;
    padding: 0 1rem;
}

.nav-link.active, .nav-link {
    font-weight: 600;
}

.nav-link.active, .nav-link:hover {
    color: red;
}

.tox-statusbar__branding {
    margin-left: 2ch;
    display: none;
}

